@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-Regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-Bold.woff2') format('woff2');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	html {
		@apply scroll-smooth font-sans;
	}

	body {
		@apply bg-zinc-950 leading-relaxed text-zinc-400 antialiased selection:bg-lime-300 selection:text-lime-900;
	}

	h1 {
		@apply text-4xl font-bold tracking-tight text-zinc-200 sm:text-5xl;
	}

	h2 {
		@apply mt-2 text-lg font-medium tracking-tight text-zinc-200 sm:text-xl;
	}

	nav {
		@apply hidden lg:block;
	}
}

@layer components {
	.app-body {
		@apply relative;
	}

	.glow-container {
        /* Default Mobile: Diam di atas */
        background: radial-gradient(
            600px circle at 50% 0px, 
            rgba(219, 218, 218, 0.05), 
            transparent 50%
        );
    }

    /* Desktop: Mengikuti Mouse */
    @media (min-width: 1024px) {
        .glow-container {
            background: radial-gradient(
                600px circle at var(--x, 50%) var(--y, 50%), 
                rgba(102, 102, 102, 0.05), 
                transparent 50%
            );
        }
    }
}
